In [71]:
import pandas as pd
import matplotlib.pyplot as plt

% matplotlib inline

health_df = pd.read_csv('../API/Resources/Health Indicators - 13100458-eng/13100458.csv')
#health_df.head()
health_df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Sex', 'Aboriginal identity', 'Indicators',
       'Characteristics', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID',
       'VECTOR', 'COORDINATE', 'VALUE', 'STATUS', 'SYMBOL', 'TERMINATED',
       'DECIMALS'],
      dtype='object')

In [72]:
health_df.head()

,REF_DATE,GEO,DGUID,Sex,Aboriginal identity,Indicators,Characteristics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2007/2010,Canada,NaN,Both sexes,Total population,Arthritis,Age-standardized rate,Rate,257,units,0,v65335813,1.1.1.1.1,12.1,NaN,NaN,NaN,1
1,2007/2010,Canada,NaN,Both sexes,Total population,Arthritis,"Low 95% confidence interval, age-standardized ...",Rate,257,units,0,v65335814,1.1.1.1.2,12.0,NaN,NaN,NaN,1
2,2007/2010,Canada,NaN,Both sexes,Total population,Arthritis,"High 95% confidence interval, age-standardized...",Rate,257,units,0,v65335815,1.1.1.1.3,12.3,NaN,NaN,NaN,1
3,2007/2010,Canada,NaN,Both sexes,Total population,Arthritis,Coefficient of variation for age-standardized ...,Rate,257,units,0,v65335816,1.1.1.1.4,0.7,NaN,NaN,NaN,1
4,2007/2010,Canada,NaN,Both sexes,Total population,Asthma,Age-standardized rate,Rate,257,units,0,v65335833,1.1.1.2.1,8.7,NaN,NaN,NaN,1

In [73]:
# Create a new table that takes the Aboriginal Identity data and all the columns relating to geo and health
health_indicators_table = health_df[["REF_DATE", "GEO", "Sex", 
                                     "Aboriginal identity", "Indicators", "Characteristics", "VALUE"]]

In [74]:
health_indicators_table.head()

# Create a pivot table to isolate health indicators between First Nations, Inuit, MÃ©tis, and Non-Aboriginal identities
First_Nations_df = health_indicators_table.loc[health_indicators_table["Characteristics"] == 'Age-standardized rate']
pivoted_df = First_Nations_df.pivot_table(index=["REF_DATE",  "GEO", "Sex","Indicators"], columns="Aboriginal identity", values="VALUE").reset_index()
pivoted_df.head()

Aboriginal identity,REF_DATE,GEO,Sex,Indicators,First Nations,Inuit,MÃ©tis,Non-Aboriginal identity population,Total population
0,2007/2010,Alberta,Both sexes,"5 or more drinks on one occasion, at least onc...",32.1,NaN,31.9,19.9,20.6
1,2007/2010,Alberta,Both sexes,Arthritis,10.8,NaN,10.8,11.4,11.3
2,2007/2010,Alberta,Both sexes,Asthma,15.7,NaN,11.1,9.1,9.3
3,2007/2010,Alberta,Both sexes,"Body mass index, self-reported, adult (18 year...",33.5,NaN,24.9,16.9,17.5
4,2007/2010,Alberta,Both sexes,"Body mass index, self-reported, adult (18 year...",16.9,NaN,27.5,32.8,32.4

In [75]:
pivoted_df.groupby("GEO").mean()

Aboriginal identity,First Nations,Inuit,MÃ©tis,Non-Aboriginal identity population,Total population
GEO,,,,,
Alberta,34.774766,74.628571,32.092035,29.802609,29.920870
British Columbia,32.141441,76.366667,33.070642,29.420000,29.505217
Canada,32.753913,32.286239,32.373913,29.946087,30.030435
Manitoba,36.138000,NaN,32.823009,30.136522,30.403478
New Brunswick,40.992208,NaN,52.186000,31.399130,31.442609
Newfoundland and Labrador,35.994118,43.936923,40.523288,31.295652,31.371304
Northwest Territories,30.386667,41.013235,38.455714,29.100893,28.491304
Nova Scotia,39.786364,NaN,40.991358,32.119130,32.191304
Nunavut,NaN,30.850000,NaN,34.989011,29.754464
Ontario,33.768696,67.872727,33.582301,30.470435,30.538261
Prince Edward Island,62.019048,NaN,NaN,30.592174,30.656522
Quebec,35.852083,NaN,35.855670,28.872174,28.914783
Saskatchewan,34.083333,NaN,33.012500,30.508696,30.609565
Yukon,35.464078,NaN,53.739583,30.580000,31.079130

In [81]:
FN = pivoted_alcohol_df.groupby("Indicators").count()["First Nations"]
Inuit = pivoted_alcohol_df.groupby("Indicators").count()["Inuit"]
Metis = pivoted_alcohol_df.groupby("Indicators").count()["MÃ©tis"]
non_ab = pivoted_alcohol_df.groupby("Indicators").count()["Non-Aboriginal identity population"]

########plt.scatter(x = non_ab, y = alcohol_FN, s = Inuit, c, )

In [79]:
pivoted_alcohol_df = pivoted_df[pivoted_df["Indicators"] == "5 or more drinks on one occasion, at least once a month in the past year"]
pivoted_alcohol_df.head()

Aboriginal identity,REF_DATE,GEO,Sex,Indicators,First Nations,Inuit,MÃ©tis,Non-Aboriginal identity population,Total population
0,2007/2010,Alberta,Both sexes,"5 or more drinks on one occasion, at least onc...",32.1,NaN,31.9,19.9,20.6
39,2007/2010,Alberta,Females,"5 or more drinks on one occasion, at least onc...",27.4,NaN,22.6,12.2,12.9
78,2007/2010,Alberta,Males,"5 or more drinks on one occasion, at least onc...",38.2,NaN,41.5,27.4,28.0
115,2007/2010,British Columbia,Both sexes,"5 or more drinks on one occasion, at least onc...",23.3,NaN,23.4,16.7,17.0
154,2007/2010,British Columbia,Females,"5 or more drinks on one occasion, at least onc...",17.4,NaN,18.5,10.3,10.7

In [41]:
pivoted_alcohol_df.groupby("GEO").mean()

Aboriginal identity,First Nations,Inuit,MÃ©tis,Non-Aboriginal identity population,Total population
GEO,,,,,
Alberta,32.566667,NaN,32.000000,19.833333,20.500000
British Columbia,23.700000,NaN,23.600000,16.733333,17.066667
Canada,26.700000,25.933333,26.666667,18.533333,18.833333
Manitoba,27.500000,NaN,31.833333,19.300000,20.666667
New Brunswick,28.900000,NaN,NaN,21.833333,21.800000
Newfoundland and Labrador,29.266667,40.050000,26.700000,26.200000,26.333333
Northwest Territories,35.900000,35.600000,29.200000,27.666667,31.200000
Nova Scotia,19.300000,NaN,30.166667,22.433333,22.533333
Nunavut,NaN,16.933333,NaN,23.466667,18.100000
Ontario,26.733333,NaN,22.933333,17.200000,17.400000
Prince Edward Island,NaN,NaN,NaN,21.400000,21.333333
Quebec,21.200000,NaN,23.150000,19.500000,19.500000
Saskatchewan,30.200000,NaN,24.066667,21.166667,21.733333
Yukon,38.666667,NaN,39.500000,24.033333,27.566667

In [45]:
FN_avg_alcohol = pivoted_alcohol_df.groupby("GEO").mean()["First Nations"]
Inuit_avg_alcohol = pivoted_alcohol_df.groupby("GEO").mean()["Inuit"]
Metis_avg_alcohol = pivoted_alcohol_df.groupby("GEO").mean()["MÃ©tis"]

In [58]:
#FN_avg_alcohol

In [57]:
#Inuit_avg_alcohol

In [56]:
#Metis_avg_alcohol

In [66]:
#pivoted_alcohol_df.plot[]
#plt.figure()

#pivoted_alcohol_df = pd.DataFrame(np.random.rand(50, 4), columns=['First Nations', 'Inuit', 'MÃ©tis', 'Non-Aboriginal identity population'])
#pivoted_alcohol_df.plot.scatter(x='a', y='b')


alcohol_df = pivoted_alcohol_df.plot.scatter(x='Non-Aboriginal identity population', y='First Nations', color='DarkBlue', label='First Nations')

pivoted_alcohol_df.plot.scatter(x='Non-Aboriginal identity population', y='Inuit', color='DarkGreen', label='Inuit', alcohol_df=alcohol_df)

AttributeError: 'function' object has no attribute 'scatter'

In [42]:
#pivoted_alcohol_df['aborigs'] = pivoted_alcohol_df['First Nations'] + pivoted_alcohol_df['Inuit'] + pivoted_alcohol_df ['MÃ©tis']

In [35]:
alcohol_FN = pivoted_alcohol_df.groupby("Indicators").count()["First Nations"]
alcohol_Inuit = pivoted_alcohol_df.groupby("Indicators").count()["Inuit"]
alcohol_Metis = pivoted_alcohol_df.groupby("Indicators").count()["MÃ©tis"]

#plt.scatter(x = alcohol_FN, y, s, c, )

In [8]:
pivoted_alcohol_df.groupby("Indicators").max()

Aboriginal identity,REF_DATE,GEO,Sex,First Nations,Inuit,MÃ©tis,Non-Aboriginal identity population,Total population
Indicators,,,,,,,,
"5 or more drinks on one occasion, at least once a month in the past year",2007/2010,Yukon,Males,45.1,46.3,44.9,38.4,38.2

In [9]:
pivoted_alcohol_df.groupby("Indicators").min()

Aboriginal identity,REF_DATE,GEO,Sex,First Nations,Inuit,MÃ©tis,Non-Aboriginal identity population,Total population
Indicators,,,,,,,,
"5 or more drinks on one occasion, at least once a month in the past year",2007/2010,Alberta,Both sexes,17.4,13.4,18.2,10.0,10.2

In [10]:
pivoted_alcohol_df.groupby("Indicators").mean()

Aboriginal identity,First Nations,Inuit,MÃ©tis,Non-Aboriginal identity population,Total population
Indicators,,,,,
"5 or more drinks on one occasion, at least once a month in the past year",28.371429,28.681818,28.003333,21.378571,21.754762

In [11]:
pivoted_alcohol_df.groupby("Indicators").count()

Aboriginal identity,REF_DATE,GEO,Sex,First Nations,Inuit,MÃ©tis,Non-Aboriginal identity population,Total population
Indicators,,,,,,,,
"5 or more drinks on one occasion, at least once a month in the past year",42,42,42,35,11,30,42,42

In [12]:
health_indicators_table["Aboriginal identity"].unique()

array(['Total population', 'First Nations', 'MÃ©tis', 'Inuit',
       'Non-Aboriginal identity population'], dtype=object)

In [13]:
health_indicators_table["GEO"].unique()

array(['Canada', 'Newfoundland and Labrador', 'Prince Edward Island',
       'Nova Scotia', 'New Brunswick', 'Quebec', 'Ontario', 'Manitoba',
       'Saskatchewan', 'Alberta', 'British Columbia', 'Yukon',
       'Northwest Territories', 'Nunavut'], dtype=object)

In [14]:
health_indicators_table["Indicators"].unique()

array(['Arthritis', 'Asthma',
       'Body mass index, self-reported, youth (12 to 17 years old), overweight or obese',
       'Body mass index, self-reported, adult (18 years and over), overweight or obese',
       'Body mass index, self-reported, adult (18 years and over), obese',
       'Body mass index, self-reported, adult (18 years and over), overweight',
       'Breastfeeding initiation',
       'Exclusive breastfeeding, at least 6 months',
       'Contact with a medical doctor in the past 12 months',
       'Has a regular medical doctor',
       'Current smoker, daily or occasional', 'Current smoker, daily',
       'Diabetes', 'Exposure to second-hand smoke at home',
       'Exposure to second-hand smoke in the past month, in vehicles and/or public places',
       'Exposure to second-hand smoke in the past month, in vehicles',
       'Exposure to second-hand smoke in the past month, in public places',
       '5 or more drinks on one occasion, at least once a month in the past year',
       'Never had alcoholic drinks in the past 12 months',
       'Food Insecurity, moderate or severe',
       'Fruit and vegetable consumption, 5 times or more per day',
       'High blood pressure, heart disease or suffering from effects of stroke',
       'High blood pressure',
       'Influenza immunization, less than one year ago',
       'Life satisfaction, satisfied or very satisfied', 'Mood disorder',
       'One or more chronic conditions',
       'Pain or discomfort by severity, moderate or severe',
       'Pain or discomfort that prevents activities',
       'Participation and activity limitation, sometimes or often',
       'Perceived health, very good or excellent',
       'Perceived health, fair or poor',
       'Perceived mental health, very good or excellent',
       'Perceived mental health, fair or poor',
       'Perceived life stress, quite a lot (15 years and over)',
       'Physical activity during leisure-time, moderately active or active',
       'Physical activity during leisure-time, inactive',
       'Respiratory problems',
       'Sense of belonging to local community, somewhat strong or very strong'],
      dtype=object)

In [15]:
health_indicators_table["Characteristics"].unique()

array(['Age-standardized rate',
       'Low 95% confidence interval, age-standardized rate',
       'High 95% confidence interval, age-standardized rate',
       'Coefficient of variation for age-standardized rate'], dtype=object)

In [34]:
body_mass_df = pivoted_df.loc[pivoted_df["Indicators"] == 'Body mass index, self-reported, youth (12 to 17 years old), overweight or obese']
body_mass_df.head()

Aboriginal identity,REF_DATE,GEO,Sex,Indicators,First Nations,Inuit,MÃ©tis,Non-Aboriginal identity population,Total population
6,2007/2010,Alberta,Both sexes,"Body mass index, self-reported, youth (12 to 1...",33.5,NaN,22.5,19.2,19.8
45,2007/2010,Alberta,Females,"Body mass index, self-reported, youth (12 to 1...",NaN,NaN,NaN,11.6,12.2
84,2007/2010,Alberta,Males,"Body mass index, self-reported, youth (12 to 1...",43.5,NaN,39.5,26.2,27.1
121,2007/2010,British Columbia,Both sexes,"Body mass index, self-reported, youth (12 to 1...",18.2,NaN,34.4,16.2,16.9
160,2007/2010,British Columbia,Females,"Body mass index, self-reported, youth (12 to 1...",NaN,NaN,NaN,11.7,12.5

In [36]:
body_mass_df.groupby("Indicators").count()

Aboriginal identity,REF_DATE,GEO,Sex,First Nations,Inuit,MÃ©tis,Non-Aboriginal identity population,Total population
Indicators,,,,,,,,
"Body mass index, self-reported, youth (12 to 17 years old), overweight or obese",42,42,42,19,5,15,38,42

In [37]:
body_mass_df.groupby("Indicators").max()

Aboriginal identity,REF_DATE,GEO,Sex,First Nations,Inuit,MÃ©tis,Non-Aboriginal identity population,Total population
Indicators,,,,,,,,
"Body mass index, self-reported, youth (12 to 17 years old), overweight or obese",2007/2010,Yukon,Males,53.4,34.9,49.6,37.5,37.1

In [38]:
body_mass_df.groupby("Indicators").min()

Aboriginal identity,REF_DATE,GEO,Sex,First Nations,Inuit,MÃ©tis,Non-Aboriginal identity population,Total population
Indicators,,,,,,,,
"Body mass index, self-reported, youth (12 to 17 years old), overweight or obese",2007/2010,Alberta,Both sexes,17.3,18.2,21.5,11.0,12.2