In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
# Reference the file where the CSV is located
suicidal_thoughts_path = "../API/suicidal_thoughts.csv"


# Import the data into a Pandas DataFrame
suicidal_thoughts = pd.read_csv(suicidal_thoughts_path)
suicidal_thoughts.head(2)

,REF_DATE,GEO,DGUID,Aboriginal identity,Age group,Sex,Perceived mental health and suicidal thoughts,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2012,Canada,2016A000011124,"Total , Aboriginal identity","Total, 18 years and over",Both sexes,"Total, perceived mental health",Number of Persons,Persons,249,units,0,v95715898,1.1.1.1.1.1,684880.0,NaN,NaN,NaN,0
1,2012,Canada,2016A000011124,"Total , Aboriginal identity","Total, 18 years and over",Both sexes,"Total, perceived mental health",Percent,Percent,239,units,0,v95715899,1.1.1.1.1.2,100.0,NaN,NaN,NaN,1

In [29]:
suicidal_thoughts.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Aboriginal identity', 'Age group', 'Sex',
       'Perceived mental health and suicidal thoughts', 'Statistics', 'UOM',
       'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE',
       'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [43]:
# Create a new table that takes the Aboriginal Identity data and all the columns relating to geo and mental/suicidal thoughts
suicidal_indicators = suicidal_thoughts[["REF_DATE", "GEO", "Aboriginal identity",  
                                     'Sex', 'Perceived mental health and suicidal thoughts', 'Statistics',
                                    "VALUE"]]
#suicidal_indicators.head()

new_suicidal_indicators = suicidal_indicators.loc[suicidal_indicators["Statistics"] == 'Percent'] 
new_suicidal_indicators.head()

,REF_DATE,GEO,Aboriginal identity,Sex,Perceived mental health and suicidal thoughts,Statistics,VALUE
1,2012,Canada,"Total , Aboriginal identity",Both sexes,"Total, perceived mental health",Percent,100.0
5,2012,Canada,"Total , Aboriginal identity",Both sexes,Excellent or very good perceived mental health,Percent,58.4
9,2012,Canada,"Total , Aboriginal identity",Both sexes,Good perceived mental health,Percent,25.3
13,2012,Canada,"Total , Aboriginal identity",Both sexes,Fair or poor perceived mental health,Percent,11.4
17,2012,Canada,"Total , Aboriginal identity",Both sexes,Perceived mental health not specified,Percent,4.9

In [47]:
new_suicidal_indicators["Perceived mental health and suicidal thoughts"].unique()

array(['Total, perceived mental health',
       'Excellent or very good perceived mental health',
       'Good perceived mental health',
       'Fair or poor perceived mental health',
       'Perceived mental health not specified',
       'Total, suicidal thoughts',
       'Ever seriously considered committing suicide',
       'Seriously considered committing suicide in the past 12 months',
       'Seriously considered committing suicide but not in the past 12 months',
       'Not specified, seriously considered committing suicide in the past 12 months',
       'Never seriously considered committing suicide',
       'Not specified, seriously considered committing suicide'],
      dtype=object)

In [52]:
# Create a pivot table to isolate suicidal indicators between First Nations, Inuit, Métis
mental_cat1 = new_suicidal_indicators.loc[suicidal_indicators["Perceived mental health and suicidal thoughts"] 
                                           == 'Excellent or very good perceived mental health']

cat1_pivoted_df = mental_cat1.pivot_table(index=["REF_DATE",  "GEO", "Sex"], 
                                          columns="Aboriginal identity", values="VALUE").reset_index()
cat1_pivoted_df.head()

Aboriginal identity,REF_DATE,GEO,Sex,First Nations (North American Indian),"First Nations (North American Indian), Registered or Treaty Indian","First Nations (North American Indian), not a Registered or Treaty Indian",Inuk (Inuit),Métis,"Total , Aboriginal identity"
0,2012,Alberta,Both sexes,53.850,53.025000,57.833333,60.100000,61.725,58.400
1,2012,Alberta,Female,47.425,47.975000,43.200000,45.400000,60.575,54.525
2,2012,Alberta,Male,64.775,62.366667,75.266667,NaN,63.225,63.850
3,2012,Atlantic,Both sexes,60.375,59.725000,61.150000,69.466667,69.575,63.725
4,2012,Atlantic,Female,59.075,59.000000,59.125000,57.066667,66.950,61.575

In [49]:
mental_cat2 = new_suicidal_indicators.loc[suicidal_indicators["Perceived mental health and suicidal thoughts"] 
                                           == 'Ever seriously considered committing suicide']
cat2_pivoted_df = mental_cat2.pivot_table(index=["REF_DATE",  "GEO", "Sex"], 
                                          columns="Aboriginal identity", values="VALUE").reset_index()
cat2_pivoted_df.head()

Aboriginal identity,REF_DATE,GEO,Sex,First Nations (North American Indian),"First Nations (North American Indian), Registered or Treaty Indian","First Nations (North American Indian), not a Registered or Treaty Indian",Inuk (Inuit),Métis,"Total , Aboriginal identity"
0,2012,Alberta,Both sexes,24.100000,23.300000,29.40,NaN,15.825,18.525000
1,2012,Alberta,Female,29.550000,26.750000,36.85,NaN,18.925,21.650000
2,2012,Alberta,Male,19.666667,21.066667,16.20,NaN,16.750,16.666667
3,2012,Atlantic,Both sexes,12.000000,14.550000,9.40,14.533333,13.100,10.966667
4,2012,Atlantic,Female,15.300000,16.100000,14.25,17.366667,15.300,15.300000

In [50]:
mental_cat3 = new_suicidal_indicators.loc[suicidal_indicators["Perceived mental health and suicidal thoughts"] 
                                           == 'Seriously considered committing suicide in the past 12 months']
cat3_pivoted_df = mental_cat3.pivot_table(index=["REF_DATE",  "GEO", "Sex"], 
                                          columns="Aboriginal identity", values="VALUE").reset_index()
cat3_pivoted_df.head()

Aboriginal identity,REF_DATE,GEO,Sex,First Nations (North American Indian),"First Nations (North American Indian), Registered or Treaty Indian","First Nations (North American Indian), not a Registered or Treaty Indian",Inuk (Inuit),Métis,"Total , Aboriginal identity"
0,2012,Alberta,Both sexes,5.80,4.4,NaN,NaN,4.6,5.133333
1,2012,Alberta,Female,7.65,NaN,NaN,NaN,5.8,5.950000
2,2012,Alberta,Male,2.70,3.3,NaN,NaN,2.9,3.150000
3,2012,Atlantic,Both sexes,NaN,NaN,NaN,1.6,NaN,2.750000
4,2012,Atlantic,Female,NaN,NaN,NaN,2.3,NaN,2.700000

In [17]:
new_suicidal_df = suicidal_thoughts[['GEO', 'Aboriginal identity','Age group',
                                     'Sex','Perceived mental health and suicidal thoughts']]
new_suicidal_df.head()

,GEO,Aboriginal identity,Age group,Sex,Perceived mental health and suicidal thoughts
0,Canada,"Total , Aboriginal identity","Total, 18 years and over",Both sexes,"Total, perceived mental health"
1,Canada,"Total , Aboriginal identity","Total, 18 years and over",Both sexes,"Total, perceived mental health"
2,Canada,"Total , Aboriginal identity","Total, 18 years and over",Both sexes,"Total, perceived mental health"
3,Canada,"Total , Aboriginal identity","Total, 18 years and over",Both sexes,"Total, perceived mental health"
4,Canada,"Total , Aboriginal identity","Total, 18 years and over",Both sexes,Excellent or very good perceived mental health

In [28]:
#new_suicidal_df["GEO"].unique()
#new_suicidal_df["Aboriginal identity"].unique()
#new_suicidal_df["Age group"].unique()
#new_suicidal_df["Sex"].unique()
#new_suicidal_df["Perceived mental health and suicidal thoughts"].unique()
#new_suicidal_df["Statistics"].unique()

array(['Total, perceived mental health',
       'Excellent or very good perceived mental health',
       'Good perceived mental health',
       'Fair or poor perceived mental health',
       'Perceived mental health not specified',
       'Total, suicidal thoughts',
       'Ever seriously considered committing suicide',
       'Seriously considered committing suicide in the past 12 months',
       'Seriously considered committing suicide but not in the past 12 months',
       'Not specified, seriously considered committing suicide in the past 12 months',
       'Never seriously considered committing suicide',
       'Not specified, seriously considered committing suicide'],
      dtype=object)

In [27]:
#new_suicidal_df['GEO'].value_counts()
#new_suicidal_df['Aboriginal identity'].value_counts()
#new_suicidal_df['Age group'].value_counts()
#new_suicidal_df['Sex'].value_counts()
#new_suicidal_df['Perceived mental health and suicidal thoughts'].value_counts()