In [2]:
import pandas as pd
import matplotlib.pyplot as plt

% matplotlib inline

health_df = pd.read_csv('../API/Resources/Health Indicators - 13100458-eng/13100458.csv')
#health_df.head()
health_df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Sex', 'Aboriginal identity', 'Indicators',
       'Characteristics', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID',
       'VECTOR', 'COORDINATE', 'VALUE', 'STATUS', 'SYMBOL', 'TERMINATED',
       'DECIMALS'],
      dtype='object')

In [3]:
health_df.head()

,REF_DATE,GEO,DGUID,Sex,Aboriginal identity,Indicators,Characteristics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2007/2010,Canada,NaN,Both sexes,Total population,Arthritis,Age-standardized rate,Rate,257,units,0,v65335813,1.1.1.1.1,12.1,NaN,NaN,NaN,1
1,2007/2010,Canada,NaN,Both sexes,Total population,Arthritis,"Low 95% confidence interval, age-standardized ...",Rate,257,units,0,v65335814,1.1.1.1.2,12.0,NaN,NaN,NaN,1
2,2007/2010,Canada,NaN,Both sexes,Total population,Arthritis,"High 95% confidence interval, age-standardized...",Rate,257,units,0,v65335815,1.1.1.1.3,12.3,NaN,NaN,NaN,1
3,2007/2010,Canada,NaN,Both sexes,Total population,Arthritis,Coefficient of variation for age-standardized ...,Rate,257,units,0,v65335816,1.1.1.1.4,0.7,NaN,NaN,NaN,1
4,2007/2010,Canada,NaN,Both sexes,Total population,Asthma,Age-standardized rate,Rate,257,units,0,v65335833,1.1.1.2.1,8.7,NaN,NaN,NaN,1

In [4]:
# Create a new table that takes the Aboriginal Identity data and all the columns relating to geo and health
health_indicators_table = health_df[["REF_DATE", "GEO", "Sex", 
                                     "Aboriginal identity", "Indicators", "Characteristics", "VALUE"]]

In [5]:
health_indicators_table.head()

# Create a pivot table to isolate health indicators between First Nations, Inuit, Métis, and Non-Aboriginal identities
First_Nations_df = health_indicators_table.loc[health_indicators_table["Characteristics"] == 'Age-standardized rate']
pivoted_df = First_Nations_df.pivot_table(index=["REF_DATE",  "GEO", "Sex","Indicators"], columns="Aboriginal identity", values="VALUE").reset_index()
pivoted_df.head()

Aboriginal identity,REF_DATE,GEO,Sex,Indicators,First Nations,Inuit,Métis,Non-Aboriginal identity population,Total population
0,2007/2010,Alberta,Both sexes,"5 or more drinks on one occasion, at least onc...",32.1,NaN,31.9,19.9,20.6
1,2007/2010,Alberta,Both sexes,Arthritis,10.8,NaN,10.8,11.4,11.3
2,2007/2010,Alberta,Both sexes,Asthma,15.7,NaN,11.1,9.1,9.3
3,2007/2010,Alberta,Both sexes,"Body mass index, self-reported, adult (18 year...",33.5,NaN,24.9,16.9,17.5
4,2007/2010,Alberta,Both sexes,"Body mass index, self-reported, adult (18 year...",16.9,NaN,27.5,32.8,32.4

In [6]:
pivoted_alcohol_df = pivoted_df[pivoted_df["Indicators"] == "5 or more drinks on one occasion, at least once a month in the past year"]
pivoted_alcohol_df.head()

Aboriginal identity,REF_DATE,GEO,Sex,Indicators,First Nations,Inuit,Métis,Non-Aboriginal identity population,Total population
0,2007/2010,Alberta,Both sexes,"5 or more drinks on one occasion, at least onc...",32.1,NaN,31.9,19.9,20.6
39,2007/2010,Alberta,Females,"5 or more drinks on one occasion, at least onc...",27.4,NaN,22.6,12.2,12.9
78,2007/2010,Alberta,Males,"5 or more drinks on one occasion, at least onc...",38.2,NaN,41.5,27.4,28.0
115,2007/2010,British Columbia,Both sexes,"5 or more drinks on one occasion, at least onc...",23.3,NaN,23.4,16.7,17.0
154,2007/2010,British Columbia,Females,"5 or more drinks on one occasion, at least onc...",17.4,NaN,18.5,10.3,10.7

In [20]:
alcohol_FN = pivoted_alcohol_df.groupby("Indicators").count()["First Nations"]
alcohol_Inuit = pivoted_alcohol_df.groupby("Indicators").count()["Inuit"]
alcohol_Metis = pivoted_alcohol_df.groupby("Indicators").count()["Métis"]

plt.scatter(x = alcohol_FN, y, s, c, )

Indicators
5 or more drinks on one occasion, at least once a month in the past year    11
Name: Inuit, dtype: int64

In [8]:
pivoted_alcohol_df.groupby("Indicators").max()

Aboriginal identity,REF_DATE,GEO,Sex,First Nations,Inuit,Métis,Non-Aboriginal identity population,Total population
Indicators,,,,,,,,
"5 or more drinks on one occasion, at least once a month in the past year",2007/2010,Yukon,Males,45.1,46.3,44.9,38.4,38.2

In [9]:
pivoted_alcohol_df.groupby("Indicators").min()

Aboriginal identity,REF_DATE,GEO,Sex,First Nations,Inuit,Métis,Non-Aboriginal identity population,Total population
Indicators,,,,,,,,
"5 or more drinks on one occasion, at least once a month in the past year",2007/2010,Alberta,Both sexes,17.4,13.4,18.2,10.0,10.2

In [10]:
pivoted_alcohol_df.groupby("Indicators").mean()

Aboriginal identity,First Nations,Inuit,Métis,Non-Aboriginal identity population,Total population
Indicators,,,,,
"5 or more drinks on one occasion, at least once a month in the past year",28.371429,28.681818,28.003333,21.378571,21.754762

In [11]:
pivoted_alcohol_df.groupby("Indicators").count()

Aboriginal identity,REF_DATE,GEO,Sex,First Nations,Inuit,Métis,Non-Aboriginal identity population,Total population
Indicators,,,,,,,,
"5 or more drinks on one occasion, at least once a month in the past year",42,42,42,35,11,30,42,42

In [12]:
health_indicators_table["Aboriginal identity"].unique()

array(['Total population', 'First Nations', 'Métis', 'Inuit',
       'Non-Aboriginal identity population'], dtype=object)

In [13]:
health_indicators_table["GEO"].unique()

array(['Canada', 'Newfoundland and Labrador', 'Prince Edward Island',
       'Nova Scotia', 'New Brunswick', 'Quebec', 'Ontario', 'Manitoba',
       'Saskatchewan', 'Alberta', 'British Columbia', 'Yukon',
       'Northwest Territories', 'Nunavut'], dtype=object)

In [14]:
health_indicators_table["Indicators"].unique()

array(['Arthritis', 'Asthma',
       'Body mass index, self-reported, youth (12 to 17 years old), overweight or obese',
       'Body mass index, self-reported, adult (18 years and over), overweight or obese',
       'Body mass index, self-reported, adult (18 years and over), obese',
       'Body mass index, self-reported, adult (18 years and over), overweight',
       'Breastfeeding initiation',
       'Exclusive breastfeeding, at least 6 months',
       'Contact with a medical doctor in the past 12 months',
       'Has a regular medical doctor',
       'Current smoker, daily or occasional', 'Current smoker, daily',
       'Diabetes', 'Exposure to second-hand smoke at home',
       'Exposure to second-hand smoke in the past month, in vehicles and/or public places',
       'Exposure to second-hand smoke in the past month, in vehicles',
       'Exposure to second-hand smoke in the past month, in public places',
       '5 or more drinks on one occasion, at least once a month in the past year',
       'Never had alcoholic drinks in the past 12 months',
       'Food Insecurity, moderate or severe',
       'Fruit and vegetable consumption, 5 times or more per day',
       'High blood pressure, heart disease or suffering from effects of stroke',
       'High blood pressure',
       'Influenza immunization, less than one year ago',
       'Life satisfaction, satisfied or very satisfied', 'Mood disorder',
       'One or more chronic conditions',
       'Pain or discomfort by severity, moderate or severe',
       'Pain or discomfort that prevents activities',
       'Participation and activity limitation, sometimes or often',
       'Perceived health, very good or excellent',
       'Perceived health, fair or poor',
       'Perceived mental health, very good or excellent',
       'Perceived mental health, fair or poor',
       'Perceived life stress, quite a lot (15 years and over)',
       'Physical activity during leisure-time, moderately active or active',
       'Physical activity during leisure-time, inactive',
       'Respiratory problems',
       'Sense of belonging to local community, somewhat strong or very strong'],
      dtype=object)

In [15]:
health_indicators_table["Characteristics"].unique()

array(['Age-standardized rate',
       'Low 95% confidence interval, age-standardized rate',
       'High 95% confidence interval, age-standardized rate',
       'Coefficient of variation for age-standardized rate'], dtype=object)

In [17]:
Health_First_Nations_df = pivoted_df.loc[pivoted_df["Indicators"] == 'Body mass index, self-reported, youth (12 to 17 years old), overweight or obese']
Health_First_Nations_df.head()

Aboriginal identity,REF_DATE,GEO,Sex,Indicators,First Nations,Inuit,Métis,Non-Aboriginal identity population,Total population
6,2007/2010,Alberta,Both sexes,"Body mass index, self-reported, youth (12 to 1...",33.5,NaN,22.5,19.2,19.8
45,2007/2010,Alberta,Females,"Body mass index, self-reported, youth (12 to 1...",NaN,NaN,NaN,11.6,12.2
84,2007/2010,Alberta,Males,"Body mass index, self-reported, youth (12 to 1...",43.5,NaN,39.5,26.2,27.1
121,2007/2010,British Columbia,Both sexes,"Body mass index, self-reported, youth (12 to 1...",18.2,NaN,34.4,16.2,16.9
160,2007/2010,British Columbia,Females,"Body mass index, self-reported, youth (12 to 1...",NaN,NaN,NaN,11.7,12.5